#header{ 
border-top:5px solid #333; 
border-bottom:1px dotted #333;
height: 6em;
line-height: 6em; 
width:100%;
margin:0;
padding:0;
}

#content{ 
margin:2em auto;
padding:0; 
background:transparent;
border:1px solid #666;
width:80%; 
text-align:left; 
}

#footer{ 
width:100%;
background-color: #999999;
height:3em;
line-height:3em; 
text-align:left;
}  

html, body, #container{ 
min-height:100%; 
width:100%;
height:100%;
} 

html>body, html>body #container{
height:auto;
}  

#footer{ 
........... 
position: absolute;
bottom: 0; 
left: 0; 
} 


	






























